@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
body {
  background-color: #100e17;
  font-family: "Open Sans", sans-serif; }

header {
  background-color: #fcb045;
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex; }
  @media screen and (max-width: 1024px) {
    header {
      height: 160px;
      padding: 24px 10% 0; } }
  header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    /*  .glitch{
      position: absolute;
      top: 0;
      left: -2px;
      width: 100%;
      color:#100e17;
      text-shadow: 2px 0 rgba(252, 176, 69, 1), -1px 0 yellow, -2px 0 green;
      overflow: hidden;
      animation: crt-me 2500ms infinite linear alternate-reverse;
      text-decoration: none;
    } */
    /*  @keyframes crt-me {
       0% {
            clip: rect(31px, 9999px, 94px, 0)
        }
        10% {
            clip: rect(112px, 9999px, 76px, 0)
        }
        20% {
            clip: rect(85px, 9999px, 77px, 0)
        }
        30% {
            clip: rect(27px, 9999px, 97px, 0)
        }
        40% {
            clip: rect(64px, 9999px, 98px, 0)
        }
        50% {
            clip: rect(61px, 9999px, 85px, 0)
        }
        60% {
            clip: rect(99px, 9999px, 114px, 0)
        }
        70% {
            clip: rect(34px, 9999px, 115px, 0)
        }
        80% {
            clip: rect(98px, 9999px, 129px, 0)
        }
        90% {
            clip: rect(43px, 9999px, 96px, 0)
        }
        100% {
            clip: rect(82px, 9999px, 64px, 0)
        }
        
    } */ }
    @media screen and (max-width: 1024px) {
      header nav {
        flex-direction: column; } }
    header nav .brand {
      font-family: "Pattaya", sans-serif;
      text-decoration: none;
      color: #100e17;
      font-weight: bold;
      font-size: 30px; }
    header nav .menu {
      display: flex;
      padding: 0;
      width: 400px;
      height: 100px;
      align-items: center;
      list-style: none;
      margin: 0; }
      header nav .menu li {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 40px; }
        header nav .menu li a {
          font-family: "Pattaya", sans-serif;
          text-decoration: none;
          font-size: 24px;
          color: #100e17; }
        header nav .menu li:hover {
          background: #100e17; }
          @media screen and (max-width: 1024px) {
            header nav .menu li:hover {
              background: none; } }
          header nav .menu li:hover a {
            color: white; }
            @media screen and (max-width: 1024px) {
              header nav .menu li:hover a {
                color: #100e17; } }
        @media screen and (min-width: 1024px) {
          header nav .menu li.menu-option {
            position: relative; } }
        header nav .menu li.menu-option .sub-menu {
          position: absolute;
          padding: 10px;
          background: #100e17;
          list-style: none;
          display: none; }
          @media screen and (min-width: 1024px) {
            header nav .menu li.menu-option .sub-menu {
              top: 100px;
              left: 0; } }
          @media screen and (max-width: 1024px) {
            header nav .menu li.menu-option .sub-menu {
              top: 160px;
              width: 100%;
              left: 0;
              justify-content: space-evenly; } }
          @media screen and (max-width: 1024px) {
            header nav .menu li.menu-option .sub-menu.show {
              display: flex; } }
          @media screen and (min-width: 1024px) {
            header nav .menu li.menu-option .sub-menu.show {
              display: block; } }
          @media screen and (max-width: 1024px) {
            header nav .menu li.menu-option .sub-menu li {
              padding: 0 20px; } }
          header nav .menu li.menu-option .sub-menu li a {
            color: white;
            font-size: 18px; }

.hero img {
  width: 100%; }

.section-events {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff; }
  .section-events p {
    color: white; }

.container {
  align-items: center;
  margin: 0 10%;
  width: 80%;
  display: flex;
  padding: 80px 0;
  flex-direction: column; }
  .container h1 {
    color: white; }

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px; }

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px; }

.emptybar {
  background-color: #fcb045;
  width: 100%;
  height: 100%; }

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: black;
  background: linear-gradient(90deg, black 0%, #909090 50%, #fcb045 100%);
  transition: 0.6s ease-out; }

.menu-description {
  width: 150px;
  position: absolute;
  background-color: #fff;
  opacity: 0.7;
  top: 150px;
  padding: 20px 0 20px 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.home-content {
  color: white;
  text-align: center;
  padding: 80px 10%;
  flex-direction: column; }
  .home-content article {
    display: flex;
    justify-content: space-between;
    margin-top: 35px; }
    @media screen and (max-width: 1024px) {
      .home-content article {
        flex-direction: column; } }
    .home-content article.what-we-do {
      flex-direction: row-reverse; }
      @media screen and (max-width: 1024px) {
        .home-content article.what-we-do {
          flex-direction: column; } }
    .home-content article img {
      width: 50%; }
      @media screen and (max-width: 1024px) {
        .home-content article img {
          width: 100%; } }
    .home-content article .info-content {
      text-align: left;
      width: 40%;
      color: white; }
      @media screen and (max-width: 1024px) {
        .home-content article .info-content {
          width: 100%; } }
      .home-content article .info-content h3 {
        padding-top: 10px; }

.btn,
.btn:disabled {
  background-color: black !important;
  border-color: black;
  color: #fcb045;
  border-radius: 4px; }

footer {
  background-color: #fcb045;
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: center;
  margin: 80px 0 0;
  list-style: none;
  height: 100px;
  align-items: center; }
  footer .footer-menu {
    display: flex;
    padding: 0;
    width: 150px;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    height: 22px; }
    footer .footer-menu li a i {
      color: #100e17; }

.section-content {
  margin: 40px auto 40px;
  flex-direction: column;
  width: 40%; }
  @media screen and (max-width: 1024px) {
    .section-content {
      width: 80%; } }
  .section-content form {
    background-color: #f2f2f2;
    padding: 20px; }
  .section-content h1 {
    background-color: #fcb045;
    font-size: 20px;
    padding: 10px 0 10px 10px;
    width: 100%;
    margin: 0; }

/* body {
  color: #333;
  font-family: Arial, Helvetica, serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: url(https://josetxu.com/img/fondo_blanco.png) repeat 0 0 #fff;
} */
h1 {
  background: #333;
  color: #fff;
  text-align: center;
  margin: 0 0 5% 0;
  padding: 0.5em;
  margin: 0 0 5% 0; }

.events p {
  padding: 40px;
  color: white; }

.product-cards {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto; }
  @media screen and (max-width: 1024px) {
    .product-cards {
      flex-direction: column;
      align-items: center; } }
  .product-cards .product-card {
    width: 300px;
    height: 400px;
    perspective: 500px;
    margin-top: 40px; }
    .product-cards .product-card:hover .content {
      transform: rotateY(180deg);
      transition: transform 0.5s;
      position: relative; }
    .product-cards .product-card .content {
      width: 100%;
      height: 100%;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      transition: transform 1s;
      transform-style: preserve-3d; }
      .product-cards .product-card .content .front,
      .product-cards .product-card .content .back {
        height: 100%;
        width: 100%;
        background: white;
        line-height: 300px;
        color: #03446a;
        text-align: center;
        font-size: 60px;
        border-radius: 5px;
        backface-visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
      .product-cards .product-card .content .front h2 {
        margin-top: 15px; }
      .product-cards .product-card .content .front .food-img {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 338px; }
        .product-cards .product-card .content .front .food-img.burgers.combo-1 {
          background-image: url("../images/hero-texmex.jpg"); }
        .product-cards .product-card .content .front .food-img.burgers.combo-2 {
          background-image: url("../images/hero-hot.jpg"); }
        .product-cards .product-card .content .front .food-img.burgers.combo-3 {
          background-image: url("../images/hero-criolla.jpg"); }
        .product-cards .product-card .content .front .food-img.burgers.combo-4 {
          background-image: url("../images/hero-vegan.jpg"); }
        .product-cards .product-card .content .front .food-img.milkshakes.combo-1 {
          background-image: url("../images/hero-oreo.jpg"); }
        .product-cards .product-card .content .front .food-img.milkshakes.combo-2 {
          background-image: url("../images/hero-pistacho.jpg"); }
        .product-cards .product-card .content .front .food-img.milkshakes.combo-3 {
          background-image: url("../images/hero-kitkat.jpg"); }
        .product-cards .product-card .content .front .food-img.milkshakes.combo-4 {
          background-image: url("../images/hero-strawberry.jpg"); }
        .product-cards .product-card .content .front .food-img.hotdogs.combo-1 {
          background-image: url("../images/hero-golf.jpg"); }
        .product-cards .product-card .content .front .food-img.hotdogs.combo-2 {
          background-image: url("../images/hero-pesto.jpg"); }
        .product-cards .product-card .content .front .food-img.hotdogs.combo-3 {
          background-image: url("../images/hero-tnt.jpg"); }
        .product-cards .product-card .content .front .food-img.hotdogs.combo-4 {
          background-image: url("../images/hero-simplehot.jpg"); }
        .product-cards .product-card .content .front .food-img.side-dish.combo-1 {
          background-image: url("../images/hero-friessimple.jpg"); }
        .product-cards .product-card .content .front .food-img.side-dish.combo-2 {
          background-image: url("../images/hero-friespesto.jpg"); }
        .product-cards .product-card .content .front .food-img.side-dish.combo-3 {
          background-image: url("../images/hero-salad.jpg"); }
        .product-cards .product-card .content .front .food-img.side-dish.combo-4 {
          background-image: url("../images/hero-nuggets.jpg"); }
      .product-cards .product-card .content .back {
        background: #03446a;
        color: white;
        transform: rotateY(180deg); }
