@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
body {
  background-color: #100e17;
  font-family: "Open Sans", sans-serif; }

header {
  background-color: #fcb045;
  width: 100%;
  height: 100px;
  align-items: center;
  display: flex; }
  header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    /*  .glitch{
      position: absolute;
      top: 0;
      left: -2px;
      width: 100%;
      color:#100e17;
      text-shadow: 2px 0 rgba(252, 176, 69, 1), -1px 0 yellow, -2px 0 green;
      overflow: hidden;
      animation: crt-me 2500ms infinite linear alternate-reverse;
      text-decoration: none;
    } */
    /*  @keyframes crt-me {
       0% {
            clip: rect(31px, 9999px, 94px, 0)
        }
        10% {
            clip: rect(112px, 9999px, 76px, 0)
        }
        20% {
            clip: rect(85px, 9999px, 77px, 0)
        }
        30% {
            clip: rect(27px, 9999px, 97px, 0)
        }
        40% {
            clip: rect(64px, 9999px, 98px, 0)
        }
        50% {
            clip: rect(61px, 9999px, 85px, 0)
        }
        60% {
            clip: rect(99px, 9999px, 114px, 0)
        }
        70% {
            clip: rect(34px, 9999px, 115px, 0)
        }
        80% {
            clip: rect(98px, 9999px, 129px, 0)
        }
        90% {
            clip: rect(43px, 9999px, 96px, 0)
        }
        100% {
            clip: rect(82px, 9999px, 64px, 0)
        }
        
    } */ }
    header nav .brand {
      font-family: 'Pattaya', sans-serif;
      text-decoration: none;
      color: #100e17;
      font-weight: bold;
      font-size: 30px; }
    header nav .menu {
      display: flex;
      padding: 0;
      width: 400px;
      height: 100px;
      align-items: center;
      list-style: none;
      margin: 0; }
      header nav .menu li {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 40px; }
        header nav .menu li a {
          font-family: 'Pattaya', sans-serif;
          color: #100e17;
          text-decoration: none;
          font-size: 24px; }
        header nav .menu li:hover {
          background-color: black; }
          header nav .menu li:hover a {
            color: white; }
        header nav .menu li .sub-menu {
          display: none !important;
          position: absolute;
          padding: 10px;
          top: 100px;
          background: #100e17;
          list-style: none; }
          header nav .menu li .sub-menu li a {
            color: white;
            font-size: 18px; }
        header nav .menu li.menu-option:hover ul.sub-menu {
          display: block !important; }

.hero img {
  width: 100%; }

.section-events {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff; }
  .section-events p {
    color: white; }

.container {
  align-items: center;
  margin: 0 10%;
  width: 80%;
  display: flex;
  padding: 80px 0;
  flex-direction: column; }
  .container h1 {
    color: white; }

.cards {
  display: flex;
  margin-top: 60px; }
  @media screen and (max-width: 1024px) {
    .cards {
      flex-direction: column; } }

.card:not(:first-child) {
  margin-left: -50px; }

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px; }
  @media screen and (max-width: 1024px) {
    .card {
      flex-direction: column;
      margin: 20px 0 0 !important; } }

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out; }

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out; }

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px; }

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px; }

.emptybar {
  background-color: #fcb045;
  width: 100%;
  height: 100%; }

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: black;
  background: linear-gradient(90deg, black 0%, #909090 50%, #fcb045 100%);
  transition: 0.6s ease-out; }

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out; }

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px); }

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out; }

svg {
  fill: #17141d;
  stroke-width: 2px; }

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out; }

.menu-description {
  width: 150px;
  position: absolute;
  background-color: #fff;
  opacity: 0.7;
  top: 150px;
  padding: 20px 0 20px 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.home-content {
  color: white;
  text-align: center;
  padding: 80px 10%;
  flex-direction: column; }
  .home-content article {
    display: flex;
    justify-content: space-between;
    margin-top: 35px; }
    @media screen and (max-width: 1024px) {
      .home-content article {
        flex-direction: column; } }
    .home-content article.what-we-do {
      flex-direction: row-reverse; }
      @media screen and (max-width: 1024px) {
        .home-content article.what-we-do {
          flex-direction: column; } }
    .home-content article img {
      width: 50%; }
      @media screen and (max-width: 1024px) {
        .home-content article img {
          width: 100%; } }
    .home-content article .info-content {
      text-align: left;
      width: 40%;
      color: white; }
      @media screen and (max-width: 1024px) {
        .home-content article .info-content {
          width: 100%; } }
      .home-content article .info-content h3 {
        padding-top: 10px; }

/deep/ .btn .btn-primary, .btn .btn-primary:disabled {
  background-color: black !important;
  border-color: black;
  color: #fcb045; }

footer {
  background-color: #fcb045;
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: center;
  margin: 0;
  list-style: none;
  height: 100px;
  align-items: center; }
  footer .footer-menu {
    display: flex;
    padding: 0;
    width: 150px;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    height: 22px; }
    footer .footer-menu li a i {
      color: #100e17; }

.section-content {
  margin: 40px auto 40px;
  flex-direction: column;
  width: 40%; }
  @media screen and (max-width: 1024px) {
    .section-content {
      width: 80%; } }
  .section-content form {
    background-color: #f2f2f2;
    padding: 20px; }
  .section-content h1 {
    background-color: #fcb045;
    font-size: 20px;
    padding: 10px 0 10px 10px;
    width: 100%;
    margin: 0; }

body {
  color: #333;
  font-family: Arial, Helvetica, serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: url(https://josetxu.com/img/fondo_blanco.png) repeat 0 0 #fff; }

h1 {
  background: #333;
  color: #fff;
  text-align: center;
  margin: 0 0 5% 0;
  padding: 0.5em;
  margin: 0 0 5% 0; }

.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%; }

.cardBox:hover .card {
  transform: rotateY(180deg); }

.card {
  background: #222;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1; }

.card p {
  margin-bottom: 1.8em; }

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%; }

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px; }

.card .back {
  transform: rotateY(180deg); }

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s; }

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333; }

.cardBox:nth-child(1) .card .back {
  background: cornflowerblue; }

.cardBox:nth-child(2) .card .back {
  background: orange; }

.cardBox:nth-child(3) .card .back {
  background: yellowgreen; }

.cardBox:nth-child(4) .card .back {
  background: tomato; }

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1; }

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1; }

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1; }

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg); }
  to {
    transform: rotateY(0deg); } }

@keyframes giro {
  from {
    transform: rotateY(180deg); }
  to {
    transform: rotateY(0deg); } }

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%; }
  .card {
    height: 285px; }
  .cardBox:last-child {
    margin-bottom: 3%; } }

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%; }
  .card {
    height: 260px; } }
